* {
    margin: 0px;
    padding: 0px;
    outline: 0;
    font-family: "Stalemate", Sans-serif;
    font-family: "Style Script", Sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #aa9caa;
}

::-webkit-scrollbar-thumb {
    background-color: lightpink;
    border-radius: 10px;
}

html {
    text-align: center;
    scroll-behavior: smooth;
}

body {
    font-family: "Style Script", Sans-serif;
    color: #d4b241 !important;
    background-image: radial-gradient(
            circle at 57% 36%,
            rgba(255, 92, 237, 0.04) 0%,
            rgba(255, 92, 237, 0.04) 10%,
            transparent 10%,
            transparent 100%
        ),
        radial-gradient(
            circle at 22% 61%,
            rgba(255, 92, 237, 0.04) 0%,
            rgba(255, 92, 237, 0.04) 36%,
            transparent 36%,
            transparent 100%
        ),
        radial-gradient(
            circle at 68% 97%,
            rgba(255, 92, 237, 0.04) 0%,
            rgba(255, 92, 237, 0.04) 41%,
            transparent 41%,
            transparent 100%
        ),
        radial-gradient(
            circle at 57% 89%,
            rgba(255, 92, 237, 0.04) 0%,
            rgba(255, 92, 237, 0.04) 30%,
            transparent 30%,
            transparent 100%
        ),
        radial-gradient(
            circle at 39% 80%,
            rgba(255, 92, 237, 0.04) 0%,
            rgba(255, 92, 237, 0.04) 22%,
            transparent 22%,
            transparent 100%
        ),
        radial-gradient(
            circle at 88% 71%,
            rgba(255, 92, 237, 0.04) 0%,
            rgba(255, 92, 237, 0.04) 30%,
            transparent 30%,
            transparent 100%
        ),
        linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.Botones {
    width: 200px;
    border-radius: 50px;
    border: 2px solid #cc8720;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    font-size: 20px;
    background-color: white;
    box-shadow: #d4b241 4px 4px 10px;
    color: gray;
    transition: 0.3s;
    margin: 5px;
    padding: 5px;
}

.Botones:hover {
    transform: scale(1.1);
    background-color: #d4b241;
    color: white;
}

.Inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 180px;
}

.Titulo_inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.Titulo_inicio h1 {
    font-size: 200px;
    font-family: "Stalemate", Sans-serif;
    background: linear-gradient(#cc8720, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.Subtitulo_inicio h2 {
    font-family: "Stalemate", Sans-serif;
    background: linear-gradient(rgba(255, 208, 0, 0.767), #df741d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-style: italic;
    font-size: 170px;
}

.Ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Ubicacion_texto h1 {
    font-size: 60px;
    background: linear-gradient(rgba(255, 208, 0, 0.767), #df741d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.Ubicacion_texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.Texto_invitacion h1 {
    font-family: "Stalemate", Sans-serif;
    background: linear-gradient(rgba(255, 208, 0, 0.767), #df741d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-style: italic;
    font-size: 130px;
    line-height: 1.5;
}

.Texto_invitacion h2 {
    font-family: "Stalemate", Sans-serif;
    background: linear-gradient(#df741d, rgba(255, 208, 0, 0.767));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-style: italic;
    font-size: 100px;
}

.Countdown {
    margin: 25px 0px 25px 0px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Tiempo {
    background: linear-gradient(rgb(255, 176, 6), #e681bb);
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 16);
    -webkit-background-clip: text;
    color: #ffff;
    font-size: 15vmin;
    font-weight: 700;
    padding: calc(calc(1em / 16) / 2);
    letter-spacing: 10px;
}

.Titulo_count {
    font-size: 60px;
    background: linear-gradient(#e681bb, rgb(228, 188, 8));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-style: italic;
}

.Decoracion_top {
    margin-bottom: 30px;
    width: 300px;
}

.Decoracion_bottom {
    transform: rotate(180deg);
    margin-top: 30px;
    width: 300px;
}

.Salto {
    display: flex;
    margin: auto;
    width: 80%;
    border: #eeb35a solid 2px;
    margin-top: 100px;
    margin-bottom: 100px;
    -webkit-box-shadow: 0px 0px 10px 2px #e03596;
    box-shadow: 0px 0px 10px 10px #e681bb;
    border-radius: 10px;
}

.Regalo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Regalo_mensaje h1 {
    background: linear-gradient(#cc8720, rgb(238, 207, 30));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 90px;
    font-style: italic;
}

.Regalo_mensaje h3 {
    background: linear-gradient(#f7ad3d, rgb(179, 123, 4));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 50px;
    font-style: italic;
}

.Alias_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.CVU_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Alias_container p {
    margin: 10px 10px 0px 0px;
}

.CVU_container p {
    margin: 10px 10px 0px 0px;
}

.Confirmacion {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Confirmacion h1 {
    background: linear-gradient(#cc8720, rgb(238, 207, 30));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 90px;
}

.Confirmacion h2 {
    background: linear-gradient(#cc8720, rgb(238, 207, 30));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 50px;
}

.Cierre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.Cierre h1 {
    font-size: 80px;
    background: linear-gradient(#cc8720, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.Cierre img {
    margin-top: -50px;
    width: 350px;
}


.Dresscode {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Dresscode h1 {
    background: linear-gradient(#cc8720, rgb(238, 207, 30));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 90px;
}

.Dresscode h2 {
    background: linear-gradient(#c457e6, rgb(255, 188, 63));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 50px;
}

@media only screen and (max-width: 550px) {
    .Titulo_inicio img {
        object-fit: contain;
        width: 60px !important;
    }
}

@media only screen and (max-width: 550px) {
    .Titulo_inicio h1 {
        font-size: 100px;
    }
}

@media only screen and (max-width: 550px) {
    .Subtitulo_inicio h2 {
        font-size: 80px;
    }
}

@media only screen and (max-width: 550px) {
    .Subtitulo_inicio img {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .Ubicacion_texto {
        flex-direction: column;
    }
}

@media only screen and (max-width: 550px) {
    .Ubicacion_texto h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 550px) {
    .Texto_invitacion h1 {
        font-size: 55px;
    }
}

@media only screen and (max-width: 550px) {
    .Texto_invitacion h2 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 550px) {
    .Countdown {
        margin-top: -100px;
        margin-bottom: -100px;
    }
}

@media only screen and (max-width: 550px) {
    .Confirmacion {
        margin-top: -50px;
        margin-bottom: -50px;
    }
}

@media only screen and (max-width: 550px) {
    .Confirmacion h1 {
        font-size: 45px;
    }
}

@media only screen and (max-width: 550px) {
    .Confirmacion h2 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 550px) {
    .Regalo_mensaje h1 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 550px) {
    .Regalo_mensaje h3 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 550px) {
    .Alias_container,
    .CVU_container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 550px) {
    .Alias_container p,
    .CVU_container p {
        margin: 10px 0px 0px 0px;
    }
}

@media only screen and (max-width: 550px) {
    .Dresscode h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width: 550px) {
    .Dresscode h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 550px) {
    .Cierre h1 {
        font-size: 50px;
    }
}


@media only screen and (max-width: 550px) {
    .Cierre img {
        width: 200px;
    }
}
